#card{
    width: 55%;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    padding:10px 10px;
    background-color: white;

}

/* .inner-card{
    width: 90px;
    height: auto;
    margin: 10px;
} */

#main-image-div{
    height: 50px;
}

#image-sub-div{
    height: 14rem;
}


/* testing */
#test{
    /* margin-left: 250px; */
    /* margin-top: 100px; */
    /* background-color: black; */
}

.icons{
    width: 40px;
}

.contact-items{
    padding: 0 !important;
}

#icon-ul{
    padding: 0 0 !important;
}

.font{
    font-family: 'exo 2';
    font-weight: bold;

}

.list-group-item{
    padding: 5px !important;
    
}

.ending-text{
}

.main-color{
    color: #6E90CA;
}

#contact a{
    color:black;
}


/* styles for mobile */

#mobile-arrow{
    height: 900px;
    /* background-color: red; */
}

#mobile-logo{
    padding-right: 5px;
    border-right: 1px solid #6E90CA;
}


